<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SENTIMENT_URL" value="https://api.idolondemand.com/1/api/sync/analyzesentiment/v1" />
    <add key="SENTIMENT_API" value="&amp;language=spa&amp;apikey=X8b7313X-Xf14-XXXXX-9bXd-XXXXXXXXXXX" />
    <add key="TWITTER_ACCESSTOKEN" value="" />
    <add key="TWITTER_ACCESSSECRET" value= "" />
    <add key="TWITTER_CONSUMERKEY" value="" />
    <add key="TWITTER_CONSUMERSECRET" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
        akka { 
            // stdout-loglevel = DEBUG
            // loglevel = DEBUG
            actor {
                provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"

                debug {  
                  receive = on 
                  autoreceive = on
                  lifecycle = on
                  event-stream = on
                  unhandled = on
                }
                deployment {
                  /main/analyzerRouter {
                    router = round-robin-pool
                    nr-of-instances = 5
                  }
              }
            }
            remote.helios.tcp {
                transport-protocol = tcp      
                hostname = localhost
                port = 8080
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>